[color]
    ui = auto
    diff = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[format]
    pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[mergetool]
    prompt = no
[mergetool "vim-fugitive"]
    cmd="vim -f -c 'Gdiff' $MERGED"
    keepbackup = false
[merge]
    summary = true
    verbosity = 1
    tools = ediff
    stat = true

[branch]
    autosetupmerge = true

[push]
    default = tracking

[core]
    pager = less
    autocrlf = false
    editor = "vim --noplugin"
    whitespace = cr-at-eol,trailiing-space,space-before-tab,tabwidth=8
    preloadindex = true
    excludesfile = ~/.gitignore.core

[advice]
    statusHints = false

[diff]
    tool = ediff
    guitool = ediff
    mnemonicprefix = true
    renames = true
    renamelimit = 3000
[difftool]
    prompt = false

[rerere]
    enabled = true

[alias]
    logg = log --graph --abbrev-commit --decorate --date=relative
    logs = log --graph --abbrev-commit --decorate --date=relative --stat
    logp = log --graph --abbrev-commit --decorate --date=relative --patch --cc -w
    root = rev-parse --show-toplevel
    head = rev-list -n1 --abbrev-commit HEAD

[include]
    path = .gitconfig.local

[difftool "ediff"]
    cmd = $HOME/.dotfiles/misc/bin/ediff.sh "$LOCAL" "$REMOTE" "$MERGED"
[mergetool "ediff"]
    cmd = $HOME/.dotfiles/misc/bin/ediff.sh "$LOCAL" "$REMOTE" "$MERGED" "$BASE"
    trustExitCode = true
